<header>
    <div class="navigation-wrapper">
        <div class="logo-wrapper">
            <div class="header-logo">
                <a href="/">
                    <img src="/images/logo.svg" alt="">
                </a>
                <a href="/">
                    <span>умелые_ручки</span>
                </a>
            </div>
        </div>
        <nav>
            <ul class="topmenu">
                <li>
                    <a class="">Создать</a>
                    <ul class="submenu">
                        <li>
                            <a href="/requests/create" class="submenu-link">Заявка</a>
                        </li>
                        <li>
                            <a href="/clients/create" class="submenu-link">Клиента</a>
                        </li>
                        <li>
                            <a href="/vendors/create" class="submenu-link">Поставщик</a>
                        </li>
                        <li>
                            <a href="/workers/create" class="submenu-link">Работник</a>
                        </li>
                        <li>
                            <a href="/services/create" class="submenu-link">Услуга</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Список</a>
                    <ul class="submenu">
                        <li><a href="/requests/list">Заявки</a></li>
                        <li><a href="/clients/list">Клиенты</a></li>
                        <li><a href="/vendors/list">Поставщики</a></li>
                        <li><a href="/workers/list">Работники</a></li>
                        <li><a href="/services/list">Услуги</a></li>
                    </ul>
                </li>
                <li>
                    <a>Поиск</a>
                    <ul class="submenu">
                        <li>
                            <a>Заявки</a>
                            <ul class="submenu">
                                <li>
                                    <a>По id
                                        <form action="/requests/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>По id клиента
                                        <form action="/requests/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="client_id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>По id работника
                                        <form action="/requests/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="worker_id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Клиенты</a>
                            <ul class="submenu">
                                <li>
                                    <a>По id
                                        <form action="/clients/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>Электронной почте
                                        <form action="/clients/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="text" name="email">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Поставщики</a>
                            <ul class="submenu">
                                <li>
                                    <a>По id
                                        <form action="/vendors/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>Электронной почте
                                        <form action="/vendors/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="text" name="email">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Работники</a>
                            <ul class="submenu">
                                <li>
                                    <a>По id
                                        <form action="/workers/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>Электронной почте
                                        <form action="/workers/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="text" name="email">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Услуги</a>
                            <ul class="submenu">
                                <li>
                                    <a>По id
                                        <form action="/services/list">
                                            <input type="text" value="1" name="filter" class="hidden">
                                            <input type="number" name="id">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Фильтр</a>
                    <ul class="submenu">
                        <li>
                            <a>Заявки</a>
                            <ul class="submenu">
                                <li>
                                    <a>Цена по возрастанию
                                        <form action="/requests/list">
                                            <input type="text" value="2" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>Цена по убыванию
                                        <form action="/requests/list">
                                            <input type="text" value="3" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Клиенты</a>
                            <ul class="submenu">
                                <li>
                                    <a>id по возрастанию
                                        <form action="/clients/list">
                                            <input type="text" value="2" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>id по убыванию
                                        <form action="/clients/list">
                                            <input type="text" value="3" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Поставщики</a>
                            <ul class="submenu">
                                <li>
                                    <a>id по возрастанию
                                        <form action="/vendors/list">
                                            <input type="text" value="2" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>id по убыванию
                                        <form action="/vendors/list">
                                            <input type="text" value="3" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Работники</a>
                            <ul class="submenu">
                                <li>
                                    <a>id по возрастанию
                                        <form action="/workers/list">
                                            <input type="text" value="2" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>id по убыванию
                                        <form action="/workers/list">
                                            <input type="text" value="3" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Услуги</a>
                            <ul class="submenu">
                                <li>
                                    <a>Цена по возрастанию
                                        <form action="/services/list">
                                            <input type="text" value="2" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a>Цена по убыванию
                                        <form action="/services/list">
                                            <input type="text" value="3" name="filter" class="hidden">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
