# IDE
.idea

# npm
node_modules
package-lock.json


# project
data/data.json
data/dbuser.json
public/stylesheets/*.css
public/stylesheets/*.map
public/stylesheets/styles.css
public/stylesheets/styles.css.map
