<section>
    <h1>Создание работника:</h1>
    <form method="post">
        <div class="edit-section">
            <div class="field">
                <span class="field__header">Фамилия</span>
                <input
                        class="field__input"
                        type="text"
                        name="secondName"
                        placeholder="Иванов"
                >
            </div>
            <div class="field">
                <span class="field__header">Имя</span>
                <input
                        class="field__input"
                        type="text"
                        name="firstName"
                        placeholder="Иван"
                >
            </div>
            <div class="field">
                <span class="field__header">Отчество</span>
                <input
                        class="field__input"
                        type="text"
                        name="patronymic"
                        placeholder="Иванович"
                >
            </div>
            <div class="field">
                <span class="field__header">Должность</span>
                <input
                        class="field__input"
                        type="text"
                        name="post"
                        placeholder="Специалист по ремонту"
                >
            </div>
            <div class="field">
                <span class="field__header">Email</span>
                <input
                        class="field__input"
                        type="text"
                        name="email"
                        placeholder="example@email.com"
                >
            </div>
            <div class="field">
                <span class="field__header">Телефон</span>
                <input
                        class="field__input"
                        type="text"
                        name="phone"
                        placeholder="+7 (xxx) xxx-xx-xx"
                >
            </div>
            <div class="field">
                <span class="field__header">Адрес</span>
                <input
                        class="field__input"
                        type="text"
                        name="address"
                        placeholder="Москва, Улица Пушкина, дом 3"
                >
            </div>
            <div class="field">
                <span class="field__header">Серия/номер паспорта</span>
                <input
                        class="field__input"
                        type="text"
                        name="passport"
                        placeholder="xxxx xxxxxx"
                >
            </div>
            <div class="field">
                <span class="field__header">Логин</span>
                <input
                        class="field__input"
                        type="text"
                        name="login"
                        placeholder="login"
                >
            </div>
            <div class="field">
                <span class="field__header">Пароль</span>
                <input
                        class="field__input"
                        type="text"
                        name="password"
                        placeholder="password"
                >
            </div>

            <div class="actions-wrapper">
                <input type="submit" value="Сохранить информацию">
            </div>
        </div>
    </form>
</section>
