<section>
    <h1>Создание клиента:</h1>
    <form method="post">
        <div class="edit-section">
            <div class="field">
                <span class="field__header">Имя</span>
                <input
                        class="field__input"
                        type="text"
                        name="firstName"
                        placeholder="Иван"
                >
            </div>
            <div class="field">
                <span class="field__header">Фамилия</span>
                <input
                        class="field__input"
                        type="text"
                        name="secondName"
                        placeholder="Иванов"
                >
            </div>
            <div class="field">
                <span class="field__header">Email</span>
                <input
                        class="field__input"
                        type="text"
                        name="email"
                        placeholder="example@email.com"
                >
            </div>
            <div class="field">
                <span class="field__header">Телефон</span>
                <input
                        class="field__input"
                        type="text"
                        name="phone"
                        placeholder="+7 (xxx) xxx-xx-xx"
                >
            </div>

            <div class="actions-wrapper">
                <input type="submit" value="Создать клиента">
            </div>
        </div>
    </form>
</section>
