<section>
    <h1>Создание поставщика:</h1>
    <form method="post">
        <div class="edit-section">
            <div class="field">
                <span class="field__header">Фамилия</span>
                <input
                        class="field__input"
                        type="text"
                        name="secondName"
                        placeholder="Иванов"
                >
            </div>
            <div class="field">
                <span class="field__header">Имя</span>
                <input
                        class="field__input"
                        type="text"
                        name="firstName"
                        placeholder="Иван"
                >
            </div>
            <div class="field">
                <span class="field__header">Отчество</span>
                <input
                        class="field__input"
                        type="text"
                        name="patronymic"
                        placeholder="Иванович"
                >
            </div>
            <div class="field">
                <span class="field__header">Компания</span>
                <input
                        class="field__input"
                        type="text"
                        name="company"
                        placeholder="Рога и копыта"
                >
            </div>
            <div class="field">
                <span class="field__header">Email</span>
                <input
                        class="field__input"
                        type="text"
                        name="email"
                        placeholder="example@email.com"
                >
            </div>
            <div class="field">
                <span class="field__header">Телефон</span>
                <input
                        class="field__input"
                        type="text"
                        name="phone"
                        placeholder="+7 (xxx) xxx-xx-xx"
                >
            </div>

            <div class="actions-wrapper">
                <input type="submit" value="Сохранить информацию">
            </div>
        </div>
    </form>
</section>
