<section>
    <h1>Создание услуги:</h1>
    <form method="post">
        <div class="edit-section">
            <div class="field">
                <span class="field__header">Название</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{service.name}}"
                        name="name"
                        placeholder="Ремонт компьютера"
                >
            </div>
            <div class="field">
                <span class="field__header">Стоимость</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{service.cost}}"
                        name="cost"
                        placeholder="1000"
                >
            </div>

            <div class="actions-wrapper">
                <input type="submit" value="Сохранить информацию">
                <a href="/service/delete/{{client.id}}" class="btn-delete">Удалить запись</a>
            </div>
        </div>
    </form>
</section>
