.edit-section {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .field {
    display: flex;
    flex-direction: column;

    span {
      font-size: 16px;
    }

    &__header {
      font-size: 20px !important;
    }

    &__input {

    }
  }

  .actions-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EEEEEE;
      color: black;
      padding: 0px 10px;
      height: 44px;
    }

    a:hover {
      background-color: var(--header-bg-color);
      color: white;
      cursor: pointer;
    }

    input:hover {
      background-color: var(--header-bg-color);
      color: white;
      cursor: pointer;
    }

    input.btn-delete {
      background-color: var(--delete-btn-color-bg);
      color: white;
    }

    input.btn-delete:hover {
      opacity: .8;
    }
  }
}
