:root {
  --link-color: #222222;
  --input-color: #eaeaea;
  --heading-color: #2d2d2d;
  --text-color: #444444;

  --header-bg-color: #282529;

  --delete-btn-color-bg: #C93636;

  --shadow: 0px 3px 5px 0 rgb(174 174 174 / 50%);
}
